<nav class="navbar sticky-top navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Bookeer.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        {% if request.user.is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'book_list' %}">Book list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'user_profile' user.username %}">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'support' %}">Support</a>
          </li>
        
        {% else %}
          
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'support' %}">Support</a>
          </li>

        {% endif %}

      </ul>
    </div>
  </div>
</nav>