{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
<p>Welcome to our site dedicated to the wonderful practice of maintaining a list of books you have read!</p>
<hr>
<p>Reading is one of life's greatest pleasures, but it can be difficult to keep track of all the books we've read over time. That's why keeping a list is such a valuable habit. By tracking the books you've read, you not only have a record of your literary journey, but you can also reflect on what you've learned, revisit your favorite stories, and discover new authors and genres.</p>
<img src="https://img-cdn.inc.com/image/upload/w_1024,h_576,c_fill/images/panoramic/GettyImages-900301626_437925_t2i3bm.jpg" class="img-fluid" alt="Books">
<p>Here at our site, we offer a variety of tools and resources to help you maintain a list of books you have read. Whether you prefer to use a digital tool or a traditional paper and pen, we have tips and tricks to help you create a list that works for you.</p>

<p>Why maintain a list of books you have read? Firstly, it helps you remember what you've read, which is especially useful if you're an avid reader or if you tend to read multiple books at once. Additionally, it's a great way to track your progress towards your reading goals and challenge yourself to read more.</p>
<img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/ChronicPain/1296x728_11_books_chronic_illness.jpg?w=1155&h=1528" class="img-fluid" alt="Reading">
<p>Maintaining a list of books you have read can also help you reflect on your reading habits and preferences. You may notice patterns in the types of books you gravitate towards or recognize when you need to mix up your reading routine. And when you're looking for your next great read, your list can serve as a handy reference to jog your memory.</p>

<p>So, whether you're a seasoned reader or just starting out on your literary journey, we encourage you to start a list of books you have read. Browse our site for inspiration, tips, and tools to help you get started and make the most of this wonderful habit. Happy reading!</p>
</div>

{% endblock content %}